<header class="b-header">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-auto">
                <a href="./index.html" class="logo">
                    <img src="img/logo.png" alt="Logo">
                </a>
            </div>
            <div class="col-auto">
                <nav class="nav navbar navbar-expand-lg navbar-light">
                    <button class="navbar-toggler d-lg-none" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle Menu">
						<span class="navbar-toggler-icon"></span>
					</button>
                    <div class="collapse navbar-collapse b-header__collapse" id="menu">
                        <button class="navbar-toggler b-header__close close" data-toggle="collapse" data-target="#menu" aria-label="Close">Close Menu</button>
                        <a href="./index.html" class="logo d-lg-none flex-shrink-0 mb-4"><img src="img/logo.png" alt="Logo"></a>
                        <ul class="nav-list list">
                            <li><a href="./index.html">Home</a></li>
                            <li><a href="./about.html">About Us</a></li>
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Get Involved</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Sub Page</a></li>
                                    <li><a href="#">Sub Page</a></li>
                                    <li><a href="#">Sub Page</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Resources</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>