@mixin font-face($font: arial, $family: arial, $weight: normal, $style: normal, $local: $family){
    @font-face{
        font-family: $font;
        src: local('#{$local}'), local('#{$family}'),
            url('../fonts/#{$family}/#{$family}.woff2') format('woff2'),
            url('../fonts/#{$family}/#{$family}.woff') format('woff'),
            url('../fonts/#{$family}/#{$family}.eot'),
            url('../fonts/#{$family}/#{$family}.eot?#iefix') format('embedded-opentype'),
            url('../fonts/#{$family}/#{$family}.ttf') format('truetype');
        font-weight: $weight;
        font-style: $style;
        font-display: swap;
    }
}


@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}